<ion-tabs id="tabs">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="nivel" id="nivel">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="glosario">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Glosario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mas">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>